.jumbotron{
background-image: url("../images/jumbotron_image.jpg");
font-family: 'Lobster', cursive;
}

h2{
font-family: 'Lobster', cursive;	
}

body {
	/*brilliant stuff*/
/**transform: rotateY(180deg);**/
background-color:#E4E4E4;
padding-top: 70px;
margin-bottom: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #2C2C2C;
}