<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Fictional and Non-fictional work I appreciate, Top Picks: </h2>
                <ol>
                  <li>Animal Farm - George Orwell</li>
                  <li>A thousand splendid suns - Khaled Hosseini</li>
                  <li> Deep Work - Cal Newport </li>
                  <li> Thinking, Fast and Slow - Daniel Kahneman</li>
                  <li> Surely you're joking Mr. Feynman</li>
                  <li> 1984 - George Orwell </li>
                </ol>
            </section><!--//section-->
