<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <q>There is Nothing More Practical Than A Good Theory<br/> -Kurt Lewin</q>
    <p>PhD Candidate under Dr. Partha Talukdar, MALL Lab, Indian Institute of Science. Trying to solve problems relating to generation of high quality textual data. A quick learner, with an avid interest in both theory and practice</p>
    <p>On an academic front, topics like logic, NLP, algorithms intrique me. Have had good amount of exposition in theory during my stay at Chennai Mathematical Institute and have also dabbled with machine learning models pertaining to NLP tasks. </p>
    <p>Career Objective : To provide a platform, where Knowledge graphs and natural language seemlessly combine to give an enriching experience to the world</p>
</div><!--//summary-->
</section><!--//section-->
