 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Computer Science</h4>
    <h5 class="meta">Indian Institute of Science, Bangalore, India</h5>
    <div class="time">2016 - present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h5 class="meta">Chennai Mathematical Institute, Chennai, India</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.Tech in Mechanical Engineering</h4>
    <h5 class="meta">IIT Kharagpur, West Bengal, India</h5>
    <div class="time">2008 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->