<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Scholar</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Indian Institute of Science, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Implemented various gradient descent methods for optimization like Stochastic, batch, mini-batch, ADAgrad, ADAdelta, Nesterov momentum, RMSProp, and ADAM on Deep Neural network architectures - Feedforward Nets, and Convolutional neural networks on benchmark datasets for sentiment analysis and image detection. <br />Tech stack Python - Numpy, theano, lasagne</p>
                        <p>Conducted (in-progress) a rich literature survey on generative adversarial network(GAN) architectures. Implemented GAN for image generation. Focusing on NLP tasks</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Applied Science Intern, Amazon Core Machine Learning Team</h3>
                            <div class="time">June 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research focused on building and improving recommender system for Amazon</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Machine Learning Intern</h3>
                            <div class="time">March, 2016 - June, 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Real Image Media Tech., Chennai</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Proposed and implemented code to detect the number of faces in adverse conditions - low lighting and high blurriness. Achieved 80\% accuracy on the test data</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer, Product Engineering Team</h3>
                            <div class="time">June, 2012 - July, 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">eGain Communications Pvt. Ltd, Pune</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Proposed and implemented code to detect the number of faces in adverse conditions - low lighting and high blurriness. Achieved 80\% accuracy on the test data</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Machine Learning Intern</h3>
                            <div class="time">March, 2016 - June, 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Real Image Media Tech., Chennai</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed an efficient replication environment for the highest revenue generating module, Knowledge base. </p>
                        <p>Significantly reduced the time required from 40mins to 12mins for the propagation of 40,000 articles from the authoring to the production setup</p>
                        <p>Responsible for writing J2EE code. Mentored 4 new joiners in the team.</p>
                        <p>Appreciated for consistently writing the most clean code and for the least number of re-opened issues
                        <br />Tech Stack: Java, HTML, CSS, JavaScript, SVN(Subversion) </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Volunteer</h3>
                            <div class="time">Summer, 2007</div>
                        </div><!--//upper-row-->
                        <div class="company">Missionaries of Charity, Dehradun</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Part of the team that specialized in teaching and helping the residents develop basic vocational, literary and functional skills</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
