/* .navbar a { */
/*     color: white; */
/*     text-decoration: none; */
/* } */


.fixedtp{
    position: fixed;
    top:0;
    width:inherit;
}

.shift_down{
    margin-top:60px;
}

.posts{
    margin:auto;
    margin-top:60px;
    width:900px;
    align:center;
    word-wrap:break-word;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

a:hover{
    text-decoration: none;
}

li:active{
    color:white;
}
