.navbar {
    margin:0 auto;
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    left:15%;
    top: 0; /* Position the navbar at the top of the page */
    width: 70%; /* Full width */
    border-bottom: 2px solid #999;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.shift_down{
    margin-top:60px;
}

.posts{
    margin:auto;
    margin-top:60px;
    width:800px;
    align:center;
    word-wrap:break-word;
}

body{
    font-family: sans-serif;
    font-size: 15px;
}

a:hover{
    text-decoration: none;
}
