<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ashutosh Kumar</title>

		{% seo %}
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
		<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
		<script src="{{ "/node_modules/jquery/dist/jquery.min.js" | relative_url}}"></script>
		<script src="{{ "/node_modules/popper.js/dist/umd/popper.min.js" | relative_url}}"></script>
		<script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | relative_url}}"></script>
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
	</head>

	<body>
		<div class="wrapper shift_down" >
			<div class='container'>
				<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark text-center">
					<div class="d-flex bd-highlight mb-0"> 
						<div class="mr-auto p-2 bd-highlight">
							<a href="/index.html" class='navbar-brand text-center'><strong style='color:white'>Ashutosh</strong> Kumar</a> 
						</div>
						<div class="p2 bd-highlight">
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
								<span class="navbar-toggler-icon"></span> 
							</button> 
							<div id="navbarSupportedContent" class="justify-content-end collapse navbar-collapse text-center"> 
								<ul class='navbar-nav' id='navbaractivation'> 
									<li class='nav-item active'> 
										<a class="nav-link navbar-brand" href="/index.html">Home</a> 
									</li> 
									<li class='nav-item'> 
										<a class="nav-link navbar-brand" href="/blog.html">Notes</a> 
									</li> 
								</ul> 
							</div> 
						</div>
					</div>
				</nav>
			</div>


			<header>

				{% if site.logo %}
				<img src="{{site.logo | relative_url}}" style="width:90%;display:block;margin-left:auto;margin-right:auto" alt="Logo" />
				{% endif %}
				<br>
				<h2 class='text-center'><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h2>
				<h3 class='text-center'>(आशुतोष कुमार)</h3>
				<br>
				<h3 class='text-center'> PhD Student </h3><h4 style='font-size:15px; font-weight:bold;' class='text-center'> Machine and Language Learning Lab <br>
					Indian Institute of Science </h4>
				<p>I am a graduate student primarily interested in solving problems related to generation of high quality textual data. I am very fortunate to be advised by <a href="http://talukdar.net" target="_blank">Dr. Partha Talukdar<a></p>

				{% if site.github.is_project_page %}
				<p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
				{% endif %}

				{% if site.github.is_user_page %}
				<p class='text-center'>
				<a href="{{ site.github.owner_url }}" target='_blank'><img src="{{ site.githubimg | relative_url }}" style="width:40px; padding:10px;"  alt="Logo"></a>
				<a href="{{ site.linkedin }}" target='_blank'><img src="{{ site.linkedinimg | relative_url }}" style="width:40px; padding:10px;"  alt="Logo"></a>
				<a href="{{ site.twitter }}" target='_blank'><img src="{{ site.twitterimg | relative_url }}" style="width:40px; padding:10px;"  alt="Logo"></a>
				<a href="{{ site.scholar }}" target='_blank'><img src="{{ site.scholarimg | relative_url }}" style="width:40px; padding:10px;"  alt="Logo"></a>
				<a href="{{ site.goodreads }}" target='_blank'><img src="{{ site.goodreadsimg | relative_url }}" style="width:40px; padding:10px;"  alt="Logo"></a>
				{% comment %} <a href="{{ site.scholar }}"><i class="ai ai-google-scholar ai-3x" style="width:40px; padding:10px;"  alt="Logo"></i></a> {% endcomment %}
				{% comment %} <a href="{{ site.scholar }}"><i class="ai ai-google-scholar-square ai-3x"  alt="Logo"></i></a> {% endcomment %}
				</p>

				{% endif %}

				{% if site.show_downloads %}
				<ul class="downloads">
					<li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
					<li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
					<li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
				</ul>
				{% endif %}
			</header>
			<section>

				{{ content }}

			</section>
		</div>
		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
		<script src="{{ "/assets/js/customscript.js" | relative_url }}"></script>
		{% if site.google_analytics %}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
							(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
								m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
						})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', '{{ site.google_analytics }}', 'auto');
			ga('send', 'pageview');
		</script>
		{% endif %}
	</body>
