<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ashutosh Kumar</title>

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
  </head>

  <body>
    <nav class="navbar">
      <a href="/index.html" style="font-size:20px; float:left;"><strong>Ashutosh</strong> Kumar</a>
      <a href="/blog.html" style='font-size:20px;'>Blog</a>
    </nav>
    <div class="posts shift_down">
      <!-- {{ page.date | date: "%-d %B %Y" }} -->
      <h1 class='text-center'>{{ page.title }}</h1>

      <!-- <p class="view">{{ page.author | default: site.author }}</p> -->
      {% if page.tags %}
        Tags: <button type="button" class="btn-dark-outline btn-sm">{{ page.tags | join: '</button>  <button type="button" class="btn-dark-outline btn-sm">' }}</button>
      {% endif %}

      <hr/>
      {{content}}

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

